[2021-09-30 08:16] omrawal opened #2 "Spiral Traversal of A matrix"
Can I work on the problem titled **Spiral traversal of a matrix** on leetcode In **Python** language?
Problem Link https://leetcode.com/problems/spiral-matrix/

[2021-09-30 10:02] piyushsharma220699 commented on #2
@omrawal Assigned in Python

[2021-09-30 19:01] Piyush228 opened #10 "ZigZag Conversion"
Problem Link : [https://leetcode.com/problems/zigzag-conversion/](url)

Adding Code with approach and problem in C++.

Please allow me .

[2021-09-30 19:04] Piyush228 opened #11 "Spiral Traversal of A matrix"
Adding Code with approach and problem.

Can I work on the problem titled Spiral traversal of a matrix on leetcode In C++ language?

problem link : [https://leetcode.com/problems/spiral-matrix/](url)

Please Assigned me .

[2021-09-30 19:07] Piyush228 opened #12 "Palindrome Number"
Adding Code with approach and problem in C++.

problem link : [https://leetcode.com/problems/palindrome-number/](url)

Please Assigned me .

[2021-09-30 19:09] Piyush228 opened #13 "Roman to Integer"
Adding Code with approach and problem in C++.

problem link : [https://leetcode.com/problems/roman-to-integer/](url)

Please Assigned me .

[2021-10-01 03:34] piyushsharma220699 commented on #10
@Piyush228 Assigned in C++

[2021-10-01 03:35] piyushsharma220699 commented on #11
@Piyush228 Assigned in C++

[2021-10-01 03:35] piyushsharma220699 commented on #12
@Piyush228 Assigned in C++

[2021-10-01 03:36] piyushsharma220699 commented on #13
@Piyush228 Assigned in C++

[2021-10-01 04:32] askandola opened #15 "Longest Substring Without Repeating Characters"
Adding Code with approach and problem in C++.

problem link : https://leetcode.com/problems/longest-substring-without-repeating-characters/

Please Assigned me .

[2021-10-01 04:34] askandola opened #16 "String to Integer (atoi)"
Adding Code in C++.

problem link : https://leetcode.com/problems/string-to-integer-atoi/

Please Assign it to me .

[2021-10-01 04:36] askandola opened #17 "Container With Most Water"
Adding Code in C++.

problem link : https://leetcode.com/problems/container-with-most-water/

Please Assign it to me .

[2021-10-01 04:36] piyushsharma220699 commented on #16
@askandola Assigned in C++

[2021-10-01 04:36] piyushsharma220699 commented on #17
@askandola Assigned in C++

[2021-10-01 04:36] piyushsharma220699 commented on #15
@askandola Assigned in C++

[2021-10-01 04:37] askandola opened #18 "Integer to Roman"
Adding Code in C++.

problem link : https://leetcode.com/problems/integer-to-roman/

Please Assign it to me .

[2021-10-01 04:38] piyushsharma220699 commented on #18
@askandola Assigned in C++

[2021-10-01 05:40] rachana-singh27 opened #22 "Two Sum - Leetcode"
## Question Link :
https://leetcode.com/problems/two-sum/

[2021-10-01 05:41] rachana-singh27 commented on #22
@piyushsharma220699  Please assign me this issue in C++

[2021-10-01 05:41] piyushsharma220699 commented on #22
@rachana-singh27 Assigned in C++

[2021-10-01 06:05] ritwik3856 commented on #22
can i do this sum in java

[2021-10-01 06:08] piyushsharma220699 commented on #22
@ritwik3856 Assigned in Java :)

[2021-10-01 06:15] swapnil604 commented on #22
@piyushsharma220699 all right then assign me in python.

[2021-10-01 06:19] swapnil604 opened #26 "merging two sorted list"
https://leetcode.com/problems/merge-two-sorted-lists/

Please assign me this in c++

[2021-10-01 06:20] swapnil604 commented on #26
@piyushsharma220699 also add the relevant labels

[2021-10-01 06:20] piyushsharma220699 commented on #26
@swapnil604 Assigned in C++

[2021-10-01 06:20] piyushsharma220699 commented on #22
@swapnil604 Assigned in Python

[2021-10-01 06:24] swapnil604 commented on #26
@piyushsharma220699 please do add the labels or it won't be accepted.

[2021-10-01 06:28] rachana-singh27 opened #27 "Best-Sightseeing-Pair : Leetcode"
## Question Link :
https://leetcode.com/problems/best-sightseeing-pair/

[2021-10-01 06:28] rachana-singh27 commented on #27
@piyushsharma220699  Please assign me this issue in C++

[2021-10-01 06:32] piyushsharma220699 commented on #27
@rachana-singh27 Assigned in C++ :)

[2021-10-01 06:38] piyushsharma220699 commented on #2
@Piyush228 Assigned in C++

[2021-10-01 06:39] piyushsharma220699 commented on #11
I'm closing this issue as it is already created. However it's assigned to you in C++

[2021-10-01 06:39] #11 closed

[2021-10-01 07:01] hd2342-dubey commented on #22
Please assign me this issue in C++

[2021-10-01 07:03] hd2342-dubey commented on #12
Please assign me this issue in C++

[2021-10-01 07:03] piyushsharma220699 commented on #22
@hd2342-dubey Sorry, it was already assigned to @rachana-singh27 :)

[2021-10-01 07:04] piyushsharma220699 commented on #12
@hd2342-dubey The issue is already assigned to @Piyush228 in C++. You can contribute in some other language or some other problem in C++ :)

[2021-10-01 08:00] GuptaTanisha opened #36 "3Sum - Leetcode"
https://leetcode.com/problems/3sum/

[2021-10-01 08:00] GuptaTanisha commented on #36
Please assign this to me in C++

[2021-10-01 08:09] ritwik3856 opened #37 "https://leetcode.com/problems/find-the-longest-valid-obstacle-course-at-each-position/"
You want to build some obstacle courses. You are given a 0-indexed integer array obstacles of length n, where obstacles[i] describes the height of the ith obstacle.

For every index i between 0 and n - 1 (inclusive), find the length of the longest obstacle course in obstacles such that:

You choose any number of obstacles between 0 and i inclusive.
You must include the ith obstacle in the course.

[2021-10-01 08:12] ritwik3856 commented on #37
assign this to me i will do it in c++.  also label this problem for hacktoberfest

[2021-10-01 08:52] piyushsharma220699 commented on #36
@GuptaTanisha Assigned in C++

[2021-10-01 08:52] piyushsharma220699 commented on #37
@ritwik3856 Assigned in C++

[2021-10-01 09:25] sahilahmed24 commented on #18
Adding Code in C++.

problem link : https://leetcode.com/problems/integer-to-roman/

Please Assign it to me

[2021-10-01 09:29] sahilahmed24 commented on #17
Adding Code in java.

problem link : https://leetcode.com/problems/container-with-most-water/

Please Assign it to me .

[2021-10-01 09:34] sahilahmed24 commented on #15
Adding Code with approach and problem in JAVA.

problem link : https://leetcode.com/problems/longest-substring-without-repeating-characters/

Please Assigned me .

[2021-10-01 09:37] sahilahmed24 commented on #16
Adding Code in JAVA.

problem link : https://leetcode.com/problems/string-to-integer-atoi/

Please Assign it to me .

[2021-10-01 09:50] piyushsharma220699 commented on #18
@sahilahmed24 this code is already assigned to @askandola in C++. Please solve some other problem or solve the same problem in some other language

[2021-10-01 09:51] piyushsharma220699 commented on #17
@sahilahmed24 Assigned in Java

[2021-10-01 09:52] piyushsharma220699 commented on #15
@sahilahmed24 Assigned in Java :)

[2021-10-01 09:54] sahilahmed24 commented on #12
Adding Code with approach and problem in JAVA.

problem link : https://leetcode.com/problems/palindrome-number/

Please Assigned me .

[2021-10-01 09:56] sahilahmed24 commented on #18
Adding Code in JAVA.

problem link : https://leetcode.com/problems/integer-to-roman/

Please Assign it to me

[2021-10-01 09:59] piyushsharma220699 commented on #16
@sahilahmed24 Assigned in Java :)

[2021-10-01 09:59] piyushsharma220699 commented on #12
@sahilahmed24 Assigned in Java

[2021-10-01 10:00] piyushsharma220699 commented on #18
@sahilahmed24 Assigned in Java

[2021-10-01 11:54] Ratna04priya opened #45 "378. Kth Smallest Element in a Sorted Matrix"

[2021-10-01 11:55] Ratna04priya commented on #45
@piyushsharma220699, Please assign this to me.

[2021-10-01 11:56] rachana-singh27 opened #46 "121. Best Time To Buy And Sell Stock"
## Question Link
https://leetcode.com/problems/best-time-to-buy-and-sell-stock/

[2021-10-01 11:57] rachana-singh27 commented on #46
@piyushsharma220699 Please assign me this issue in C++.

[2021-10-01 11:59] rachana-singh27 opened #47 "918. Maximum Sum Circular Subarray"
## Question Link
https://leetcode.com/problems/maximum-sum-circular-subarray/

[2021-10-01 12:00] rachana-singh27 commented on #47
@piyushsharma220699  Please assign me this issue in C++

[2021-10-01 12:45] sahilahmed24 commented on #47
Adding Code in C++.

problem link :https://leetcode.com/problems/maximum-sum-circular-subarray/

Please Assign it to me .

[2021-10-01 13:21] Anshuman2709 opened #48 "1. Two Sum"
adding code in python please allow me.

problem link: [https://leetcode.com/problems/two-sum](url)

[2021-10-01 14:26] GuptaTanisha opened #51 "31- Next Permutation Leetcode"
https://leetcode.com/problems/3sum/

Please assign this to me in C++

[2021-10-01 14:46] Shreyas12345678 opened #52 "Search a 2D Matrix"
https://leetcode.com/problems/search-a-2d-matrix/
please assign this to me in C++

[2021-10-01 14:51] Shreyas12345678 opened #53 "Merge Intervals"
https://leetcode.com/problems/merge-intervals/
Please assign me this problem in C++

[2021-10-01 15:04] madhavmishra26 opened #54 "7. Reverse Integer"
Adding code in c++ ,  please assign me

link :  [https://leetcode.com/problems/reverse-integer/](url)

[2021-10-01 15:13] vk20july commented on #48
Please Assign me this in c++

[2021-10-01 15:40] piyushsharma220699 commented on #46
Assigned in C++ @rachana-singh27

[2021-10-01 15:42] nm2708 opened #55 "55. Jump Game"
Please assign this question to me in C++

https://leetcode.com/problems/jump-game/

[2021-10-01 15:43] piyushsharma220699 commented on #55
@nm2708 Assigned in C++

[2021-10-01 15:47] piyushsharma220699 commented on #51
@GuptaTanisha Assigned in C++

[2021-10-01 15:48] piyushsharma220699 commented on #47
As @rachana-singh27 created the issue and asked to solve it in C++ first, the issue gets assigned to her :) @sahilahmed24 Sorry brother!

[2021-10-01 15:49] #48 closed

[2021-10-01 15:50] sahilahmed24 commented on #47
Adding Code in JAVA.

problem link :https://leetcode.com/problems/maximum-sum-circular-subarray/

Please Assign it to me :)

[2021-10-01 15:51] piyushsharma220699 commented on #53
@Shreyas12345678 Assigned in C++

[2021-10-01 15:52] piyushsharma220699 commented on #54
@madhavmishra26 Assigned in C++

[2021-10-01 15:52] piyushsharma220699 commented on #52
@Shreyas12345678 Assigned in C++

[2021-10-01 15:53] piyushsharma220699 commented on #47
@sahilahmed24 Assigned in Java

[2021-10-01 15:54] nm2708 opened #57 "198. House Robber"
Please assign this to me in C++

https://leetcode.com/problems/house-robber/

[2021-10-01 15:55] nm2708 opened #58 "268. Missing Number"
Please assign this to me in C++

https://leetcode.com/problems/missing-number/

[2021-10-01 15:56] nm2708 opened #59 "503. Next Greater Element II"
Please assign this to me in C++

https://leetcode.com/problems/next-greater-element-ii/

[2021-10-01 15:58] piyushsharma220699 commented on #57
@nm2708 Assigned in C++

[2021-10-01 15:58] piyushsharma220699 commented on #58
@nm2708 Assigned in C++

[2021-10-01 15:59] piyushsharma220699 commented on #59
@nm2708 Assigned in C++

[2021-10-01 16:01] snehashukkla commented on #58
I can solve this issue,please assign it to me

[2021-10-01 16:06] Rohit5152 commented on #46
Please Assign this to me .Because I have solved many problems on leetcode ,interview bit.
It also help to grow more.Please Asssign this to me.

[2021-10-01 16:08] Rohit5152 commented on #52
Please Assign this problem to me .Because I solved this Already and i have good knowledge over this topic
please assign this to me

[2021-10-01 16:10] navjotdadwal opened #62 "Dp-on-trees tutorial + Problems"
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 16:10] parth-panchal opened #63 "851. Loud and Rich"
Problem link - https://leetcode.com/problems/loud-and-rich/

Please assign this to me for python.

[2021-10-01 16:11] navjotdadwal commented on #62
If you assign then please assign under hacktoberfest tag

[2021-10-01 16:13] piyushsharma220699 commented on #63
@parth-panchal Assigned in Python :)

[2021-10-01 16:14] piyushsharma220699 commented on #62
Which problem do you want me to assign you @navjotdadwal bro?

[2021-10-01 16:19] navjotdadwal commented on #62
I can handle this issue if you allow i have good material

[2021-10-01 16:21] piyushsharma220699 commented on #62
Let me know the name of the leetcode problems you want to solve, I'll assign the issue to you :)

[2021-10-01 16:21] snehashukkla commented on #59
I can solve this issue,please assign it to me

[2021-10-01 16:21] Rohit5152 opened #65 "To generate All subsets(Power set) of an Array"
Please Assign this problem to me:
https://leetcode.com/problems/subsets/

[2021-10-01 16:22] navjotdadwal commented on #62
https://leetcode.com/contest/weekly-contest-220/problems/checking-existence-of-edge-length-limited-paths/

[2021-10-01 16:22] Rohit5152 commented on #65
Please assign this to me

[2021-10-01 16:23] Rohit5152 commented on #52
Bro i raised an issue please assign this to me

On Fri, 1 Oct, 2021, 21:46 Piyush Sharma, ***@***.***> wrote:

[2021-10-01 16:25] piyushsharma220699 commented on #59
@snehashukkla In which language? Please note that it is already solved by @nm2708 in C++.

[2021-10-01 16:26] piyushsharma220699 commented on #62
@navjotdadwal Please edit the issue with the name of this problem along with the link, and let me know the language in which you want to solve this problem. I'll assign this to you!

[2021-10-01 16:27] navjotdadwal opened #66 "Checking Existence of Edge Length Limited Paths"
Sir please assign this issue to me

[2021-10-01 16:27] piyushsharma220699 commented on #65
@Rohit5152 Assigned (Just comment the name of the language you want me to assign this in)

[2021-10-01 16:28] navjotdadwal commented on #66
C++

[2021-10-01 16:28] piyushsharma220699 commented on #66
@navjotdadwal Assigned in C++

[2021-10-01 16:28] piyushsharma220699 commented on #62
I'm closing this issue, the problem is assigned to you :)

[2021-10-01 16:28] #62 closed

[2021-10-01 16:44] navjotdadwal commented on #66
Sir i have made a PR kindly have a look.

[2021-10-01 16:53] Rohit5152 commented on #65
Bro i have completed the issue
Please merge it
Please

On Fri, 1 Oct, 2021, 21:58 Piyush Sharma, ***@***.***> wrote:

[2021-10-01 17:05] GuptaTanisha opened #73 "59. Spiral Matrix II Leetcode"
https://leetcode.com/problems/spiral-matrix-ii/

Please assign this to me in C++

[2021-10-01 17:37] piyushsharma220699 commented on #63
@parth-panchal Please don't close the issue, maybe someone else wants to contribute the same code in some other language, he/she can comment here

[2021-10-01 17:39] Ratna04priya commented on #45
@piyushsharma220699 , kindly check!

[2021-10-01 17:39] piyushsharma220699 commented on #65
@Rohit5152 I've replied the changes

[2021-10-01 17:40] piyushsharma220699 commented on #73
@GuptaTanisha Assigned in C++

[2021-10-01 17:40] MuskanGupta1503 commented on #12
Adding Code with approach and problem in python

problem link : https://leetcode.com/problems/palindrome-number/

Please Assigned me .

[2021-10-01 17:42] parth-panchal commented on #63
right, sorry. My bad

[2021-10-01 17:45] VishwajeetT22 commented on #54
hey can i solve this isssue?

[2021-10-01 17:46] VishwajeetT22 commented on #54
Hey can solve this issue? if its still available.

[2021-10-01 18:01] DivyamAgrawal1205 opened #81 "7 . Reverse Integers LeetCode"
Please assign me this on Python.

[2021-10-01 18:02] piyushsharma220699 commented on #81
@DivyamAgrawal1205 Assigned in Python :)

[2021-10-01 18:05] piyushsharma220699 commented on #45
@Ratna04priya Try again :)

[2021-10-01 18:06] piyushsharma220699 commented on #12
@MuskanGupta1503 Assigned in Python

[2021-10-01 18:08] Samarth-Gupta-2909 opened #82 "1769. Minimum Number of Operations to Move All Balls to Each Box"
Please assign me this in cpp.

[2021-10-01 18:15] Lekheshwar opened #83 "56. Merge Intervals [LeetCode - Medium]"
Could you please assign this to me.

[2021-10-01 18:15] fnaticIT opened #84 "#48 Rotate image in c++ @hacktoberfest"
Problem Number: 48
Link to Problem: https://leetcode.com/problems/rotate-image/

[2021-10-01 18:18] Lekheshwar opened #85 "31. Next Permutaion [Leetcode - Medium]"
Can you please assign this to me.

[2021-10-01 18:22] piyushsharma220699 commented on #83
The issue is already created, please comment there your preferred language to get this assigned to you! 🔢

[2021-10-01 18:22] #83 closed

[2021-10-01 18:22] 4doctorstrange commented on #58
Hi Piyush, can I solve this in Python?

[2021-10-01 18:23] piyushsharma220699 commented on #82
@Samarth-Gupta-2909 Assigned in C++

[2021-10-01 18:23] Lekheshwar opened #86 "430. Flatten a Multilevel Doubly Linked List"
Can I work on this.

[2021-10-01 18:23] piyushsharma220699 commented on #85
The issue is already created, please comment there your preferred language to get this assigned to you! 🔢 @Lekheshwar

[2021-10-01 18:23] #85 closed

[2021-10-01 18:23] piyushsharma220699 commented on #86
Which Language?

[2021-10-01 18:25] piyushsharma220699 commented on #58
@4doctorstrange Assigned in Python :)

[2021-10-01 18:25] piyushsharma220699 commented on #58
@snehashukkla Which Language?

[2021-10-01 18:26] Lekheshwar commented on #86
C++

[2021-10-01 18:28] piyushsharma220699 commented on #84
@fnaticIT Assigned in C++

[2021-10-01 18:29] piyushsharma220699 commented on #86
@Lekheshwar Assigned in C++

[2021-10-01 18:29] Lekheshwar commented on #86
Thank you @piyushsharma220699

[2021-10-01 18:31] piyushsharma220699 commented on #54
@VishwajeetT22 Which language?

[2021-10-01 18:32] Lekheshwar opened #89 "4. Median of Two Sorted Arrays [Leetcode - Hard]"
Can you please assign this to me. For C++.

[2021-10-01 18:38] piyushsharma220699 commented on #89
@Lekheshwar Assigned in C++

[2021-10-01 18:40] VishalS047 commented on #53
please assign me this issue (JAVA)

[2021-10-01 18:42] saigoud25 commented on #58
Can I solve this in Java?

[2021-10-01 18:43] piyushsharma220699 opened #92 "329. Longest Increasing Path in a Matrix"
Link to Problem: https://leetcode.com/problems/longest-increasing-path-in-a-matrix/
Problem Number 329

[2021-10-01 18:48] piyushsharma220699 commented on #53
@VishalS047 Assigned in Java

[2021-10-01 18:49] Jibendu007 opened #93 "Median of Two Sorted Arrays"
LeetCode Problem 4

[2021-10-01 18:49] piyushsharma220699 commented on #58
@saigoud25 Assigned in Java

[2021-10-01 18:49] piyushsharma220699 commented on #93
@Jibendu007 Which language?

[2021-10-01 18:50] Jibendu007 commented on #93
Python

On Sat, 2 Oct 2021, 00:20 Piyush Sharma, ***@***.***> wrote:

[2021-10-01 18:50] Jibendu007 commented on #93
Python

[2021-10-01 18:51] sharmaayush19112000 commented on #59
please assign me in c++

[2021-10-01 18:51] Jibendu007 commented on #93
@piyushsharma220699

[2021-10-01 18:52] sharmaayush19112000 commented on #36
please assign me in c++

[2021-10-01 18:52] piyushsharma220699 commented on #93
@Jibendu007 Assigned in Python

[2021-10-01 18:53] Lekheshwar opened #94 "2. Add Two Numbers [Leetcode - Medium]"
Can you assign this to me for C++.

[2021-10-01 18:53] piyushsharma220699 commented on #59
@sharmaayush19112000 Sorry, this is already completed by @nm2708 in C++. Either solve this question in some other language or try solving another problem :)

[2021-10-01 18:54] Lekheshwar commented on #94
Leetcode Problem Number 2.

[2021-10-01 18:54] saigoud25 opened #95 "162. Find Peak Element [Leetcode - Medium]"

[2021-10-01 18:54] saigoud25 commented on #95
I want to write this in java, Can you assign this to me?

[2021-10-01 18:55] piyushsharma220699 commented on #94
@Lekheshwar Assigned in C++

[2021-10-01 18:55] piyushsharma220699 commented on #95
@saigoud25 Assigned in Java

[2021-10-01 18:56] piyushsharma220699 commented on #36
@sharmaayush19112000 I've already assigned this to @GuptaTanisha in C++ :) Sorry bhai!

[2021-10-01 19:00] MuskanGupta1503 commented on #92
Please assign this to me in C++

[2021-10-01 19:01] anushkarthik05 commented on #95
I can do this in c++. Can you assign me? @piyushsharma220699

[2021-10-01 19:03] piyushsharma220699 commented on #92
@MuskanGupta1503 Assigned in C++

[2021-10-01 19:05] piyushsharma220699 commented on #95
@anushkarthik05 Assigned in C++

[2021-10-01 19:05] chirag3003 commented on #81
@piyushsharma220699 pls assign me this in java

[2021-10-01 19:06] Samarth-Gupta-2909 opened #100 "43. Multiply strings [Leetcode Medium]"
Allow me add this problem using cpp.
Link : https://leetcode.com/problems/multiply-strings/

[2021-10-01 19:07] piyushsharma220699 commented on #81
@chirag3003 Assigned in Java

[2021-10-01 19:07] piyushsharma220699 commented on #100
@Samarth-Gupta-2909 Assigned in C++

[2021-10-01 19:19] khushij12 commented on #94
Can you assigned this to me for C

[2021-10-01 19:20] piyushsharma220699 commented on #93
Please don't close this issue, others can get this assigned in some other language! @Jibendu007

[2021-10-01 19:20] GuptaTanisha opened #107 "146. LRU Cache Leetcode"
https://leetcode.com/problems/lru-cache/
Please assign this to me in C++

[2021-10-01 19:22] VishalS047 commented on #53
please have a look and merge my pull request

[2021-10-01 19:23] piyushsharma220699 commented on #94
@khushij12 Assigned in C :)

[2021-10-01 19:29] piyushsharma220699 commented on #107
@GuptaTanisha assigned in C++

[2021-10-01 19:30] vikhyat-github commented on #93
@piyushsharma220699 Assign me in JAVA

[2021-10-01 19:32] Sakshamgupta90 commented on #107
can I write in java?
/assign me please

[2021-10-01 19:35] piyushsharma220699 commented on #93
@vikhyat-github Assigned in Java

[2021-10-01 19:35] piyushsharma220699 commented on #107
@Sakshamgupta90 Assigned in Java

[2021-10-01 19:36] piyushsharma220699 commented on #93
@Lekheshwar Assigned in C++

[2021-10-01 19:36] PranavShekhar30 opened #113 "17. Letter Combinations of a Phone Number - Java"

[2021-10-01 19:38] piyushsharma220699 commented on #113
@PranavShekhar30 Assigned in JAVA

[2021-10-01 19:46] 4doctorstrange commented on #95
Hey, Can I solve this in Python?

[2021-10-01 19:54] Lekheshwar opened #117 "75. Sort Colors [Leecode - Medium]"
Can you assign this to me in C++.

[2021-10-01 20:02] khushij12 opened #118 "5. Longest Palindromic Substring [ Leetcode - Medium ]"
Can you assigned this to me for C++ language.

[2021-10-01 20:04] khushij12 commented on #81
Can you assigned this to me for C++

[2021-10-01 20:06] piyushsharma220699 commented on #95
@4doctorstrange Assigned in Python!

[2021-10-01 20:06] piyushsharma220699 commented on #117
@Lekheshwar Assigned in C++

[2021-10-01 20:07] piyushsharma220699 commented on #118
@khushij12 Assigned in C++ :)

[2021-10-01 20:07] piyushsharma220699 commented on #81
@khushij12 Assigned in C++

[2021-10-01 20:08] amiteshag320 opened #119 "Longest Common Subsequence"
please assign this question to me

[2021-10-01 20:13] vikhyat-github commented on #93
@piyushsharma220699 I have made a PR. Please review it.

[2021-10-01 20:14] sneha-baser commented on #45
@piyushsharma220699 I would like to solve using c++. please assign it to me.

[2021-10-01 20:16] piyushsharma220699 commented on #119
@amiteshag320 Assigned in C++ :)

[2021-10-01 20:18] sneha-baser opened #126 "Top View of Binary Tree."
I would like to solve using C++, please assign it to me.

[2021-10-01 20:19] piyushsharma220699 commented on #45
@sneha-baser Assigned in C++

[2021-10-01 20:19] piyushsharma220699 commented on #126
@sneha-baser Assigned in C++

[2021-10-01 20:35] MitadruDatta commented on #52
Please assign this to me in Java

[2021-10-01 20:36] Samarth-Gupta-2909 commented on #113
can you please assign me this in c++

[2021-10-01 20:37] adarsh786-tech opened #131 "230. Kth Smallest Element in a BST"
Hi, please assign me this problem in C++.
Problem Link: https://leetcode.com/problems/kth-smallest-element-in-a-bst/

[2021-10-01 20:39] Samarth-Gupta-2909 opened #132 "17. Combinations of a phone number in cpp"
Problem Link : https://leetcode.com/problems/letter-combinations-of-a-phone-number/
Problem Number : 17

[2021-10-01 20:50] Samarth-Gupta-2909 opened #133 "144. Binary Tree Preorder Traversal"
Please assign me this in cpp
Link : https://leetcode.com/problems/binary-tree-preorder-traversal/

[2021-10-01 20:50] KoulickS opened #134 "521. Longest Uncommon Subsequence I"
I would like to solve this in cpp. Please assign it to me.

[2021-10-01 20:51] Samarth-Gupta-2909 opened #135 "145. Binary Tree Postorder Traversal"
Please assign me this in cpp
Link : https://leetcode.com/problems/binary-tree-postorder-traversal/

[2021-10-01 20:54] khushij12 opened #136 "13. Roman to Integer"
Can you assigned this to me for C++.

[2021-10-02 01:03] VishwajeetT22 commented on #54
java/c

[2021-10-02 02:20] anushkarjain commented on #136
Please assign this to me in C++

[2021-10-02 02:35] lucy2512 commented on #81
Can you assign this to me for C?

[2021-10-02 04:06] RAJASETHI opened #139 "Best Time to Buy and Sell Stock with Transaction Fee"
Please assign me this problem with c++.

[2021-10-02 04:32] piyushsharma220699 commented on #139
@RAJASETHI Assigned in C++

[2021-10-02 04:33] Lucifer4255 opened #140 "56. Merge Intervals"
Please assign me this problem in c++ for hacktoberfest

[2021-10-02 04:35] piyushsharma220699 commented on #136
@khushij12 @anushkarjain Sorry :) The issue is already assigned to @Piyush228 here :: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/13

Please create an issue for another problem or check the existing issues to get them assigned to you 👍🏻 For now, I'm closing this issue.

[2021-10-02 04:35] #136 closed

[2021-10-02 04:36] snehashukkla commented on #58
@piyushsharma220699 i can solve this in python

[2021-10-02 04:37] snehashukkla commented on #58
@piyushsharma220699 i can solve this in C++ as well

[2021-10-02 04:37] piyushsharma220699 commented on #140
https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/53

This issue was already assigned to @Shreyas12345678 ! Please create issue for some other leetcode problem 👍🏻 Then I'll assign you 🔢

[2021-10-02 04:37] #140 closed

[2021-10-02 04:39] piyushsharma220699 commented on #135
@Samarth-Gupta-2909 Assigned in C++

[2021-10-02 04:39] piyushsharma220699 commented on #134
@KoulickS Assigned in C++ 👍🏻

[2021-10-02 04:39] piyushsharma220699 commented on #133
@Samarth-Gupta-2909 Assigned in C++ 💯

[2021-10-02 04:40] snehashukkla commented on #59
@piyushsharma220699  i can solve this in java

[2021-10-02 04:41] piyushsharma220699 commented on #131
@adarsh786-tech Assigned in C++

[2021-10-02 04:43] piyushsharma220699 commented on #132
@Samarth-Gupta-2909 Assigned in C++ 👍🏻

[2021-10-02 04:44] piyushsharma220699 commented on #58
@snehashukkla Sorry, already assigned this to @nm2708 in C++ and @4doctorstrange in Python :)

[2021-10-02 04:44] snehashukkla commented on #73
@piyushsharma220699 i can solve this in C and python both

[2021-10-02 04:45] piyushsharma220699 commented on #59
@snehashukkla Assigned in Java 💯

[2021-10-02 04:45] AnshMishra2001 opened #141 "174. Dungeon Game"

[2021-10-02 04:46] piyushsharma220699 commented on #81
@lucy2512 Assigned in C :)

[2021-10-02 04:46] AnshMishra2001 commented on #141
Problem Link: https://leetcode.com/problems/dungeon-game
Pls assign this to me in C++

[2021-10-02 04:47] piyushsharma220699 commented on #54
@VishwajeetT22 Assigned in C :)

[2021-10-02 04:47] piyushsharma220699 commented on #113
@Samarth-Gupta-2909 Assigned in C++

[2021-10-02 04:48] snehashukkla commented on #65
@piyushsharma220699 i can solve this in C++ and python

[2021-10-02 04:48] piyushsharma220699 commented on #132
@Samarth-Gupta-2909 An issue was already created for this problem, and I've assigned this problem to you there. So I'm closing this issue to remove redundancy 👍🏻

[2021-10-02 04:48] #132 closed

[2021-10-02 04:49] piyushsharma220699 commented on #141
@AnshMishra2001 Assigned in C++

[2021-10-02 04:49] piyushsharma220699 commented on #73
@snehashukkla Assigned in Python 👍🏻

[2021-10-02 04:54] sneha-baser commented on #126
@piyushsharma220699 actually Top View Problem  not exist in leetcode problem. can I do diameter of binary tree in C++?

[2021-10-02 04:58] Lucifer4255 opened #142 "31. Next Permutation"
Please assign me this problem in cpp for hacktoberfest

[2021-10-02 04:59] khushij12 opened #143 "18. 4Sum [Leetcode - Medium]"
Can you assigned this to me for c++.

[2021-10-02 05:01] piyushsharma220699 commented on #89
@Lekheshwar Closing this issue as I've assigned this problem here: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/93

Just to remove redundancy 👍🏻

[2021-10-02 05:01] #89 closed

[2021-10-02 05:07] piyushsharma220699 commented on #143
@khushij12 Assigned in C++

[2021-10-02 05:08] piyushsharma220699 commented on #142
Please check this :: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/51
The issue is already assigned to @GuptaTanisha :) Sorry bhai, I'll be closing this issue 👍🏻

[2021-10-02 05:08] #142 closed

[2021-10-02 05:25] sahilahmed24 commented on #134
Adding Code in Python.

problem link :  https://leetcode.com/problems/longest-uncommon-subsequence-i/

Please Assign it to me .

[2021-10-02 05:28] sahilahmed24 commented on #131
Adding Code in Python.

problem link : https://leetcode.com/problems/kth-smallest-element-in-a-bst/

Please Assign it to me .

[2021-10-02 05:57] dhairyaostwal commented on #117
@piyushsharma220699 Hi! Could you assign me this for Java

[2021-10-02 06:00] dhairyaostwal commented on #73
@piyushsharma220699 could you assign this to me in Java

[2021-10-02 06:01] dhairyaostwal commented on #139
@piyushsharma220699 could you assign me this in Java

[2021-10-02 06:03] dhairyaostwal commented on #143
@piyushsharma220699 Could you assign me this in Java

[2021-10-02 06:12] anupamdey2001 commented on #36
please assign me in java

[2021-10-02 06:24] purohitmansi commented on #143
Please do assign this to me. I would like to work on it in C++.

[2021-10-02 06:25] purohitmansi commented on #135
Please do assign this to me in C++.

[2021-10-02 06:26] purohitmansi commented on #133
Please do assign this to me. I would like to work on it in C++.

[2021-10-02 06:26] purohitmansi commented on #131
Please do assign this to me.

[2021-10-02 06:27] purohitmansi commented on #65
Please do assign this to me. I would like to work on it in C++.

[2021-10-02 06:28] purohitmansi commented on #54
Please do assign this to me.

[2021-10-02 06:28] purohitmansi commented on #36
Please do assign this to me. I would like to work on it in C++.

[2021-10-02 06:29] purohitmansi commented on #26
Please do assign this to me. I would like to work on it in C++.

[2021-10-02 06:29] purohitmansi commented on #22
Please do assign this to me. I would like to work on it in C++.

[2021-10-02 06:30] purohitmansi commented on #12
Please do assign this to me. I would like to work on it in C++.

[2021-10-02 06:40] sj9102001 opened #155 "Merge Two Sorted Lists"
Can this be assigned to me in C++
Problem Link - https://leetcode.com/problems/merge-two-sorted-lists/

[2021-10-02 06:41] #155 closed

[2021-10-02 06:42] sj9102001 opened #156 "23. Merge K Sorted Lists"
Can this be assigned to me in C++
Problem Link - https://leetcode.com/problems/merge-k-sorted-lists/

[2021-10-02 06:42] pshivesh8 opened #157 "Rotate Image (Leetcode #48 Medium)"
You are given an n x n 2D matrix representing an image, rotate the image by 90 degrees (clockwise).

You have to rotate the image in place, which means you have to modify the input 2D matrix directly. DO NOT allocate another 2D matrix and do the rotation.

Example 1:

Input: matrix = [[1,2,3],[4,5,6],[7,8,9]]
Output: [[7,4,1],[8,5,2],[9,6,3]]

Link: https://leetcode.com/problems/rotate-image/

[2021-10-02 06:43] pshivesh8 commented on #157
Please assign this is issue to me, I want to solve it as a part of hacktoberfest-2021

[2021-10-02 06:47] #157 closed

[2021-10-02 06:49] pshivesh8 opened #158 "4. Median of Two Sorted Arrays [Leetcode - Hard]"
Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.

The overall run time complexity should be O(log (m+n)).

Example:

Input: nums1 = [1,3], nums2 = [2]
Output: 2.00000
Explanation: merged array = [1,2,3] and median is 2.

Link: https://leetcode.com/problems/median-of-two-sorted-arrays/

[2021-10-02 06:50] pshivesh8 commented on #158
I want to solve this in C++, Please assign this issue to me as a part of hacktoberfest-2021

[2021-10-02 06:53] pshivesh8 opened #160 "23. Merge k Sorted Lists"
You are given an array of k linked-list lists, each linked-list is sorted in ascending order.
Merge all the linked lists into one sorted linked list and return it.

Example 1:

Input: lists = [[1,4,5],[1,3,4],[2,6]]
Output: [1,1,2,3,4,4,5,6]
Explanation: The linked lists are:
[
  1->4->5,
  1->3->4,
  2->6
]
merging them into one sorted list:
1->1->2->3->4->4->5->6

Link: https://leetcode.com/prob

[2021-10-02 06:53] pshivesh8 commented on #160
I want to solve this in C++, Please assign this issue to me as a part of hacktoberfest-2021

[2021-10-02 06:54] snehashukkla commented on #65
@piyushsharma220699 please assign it to me for C++ or python

[2021-10-02 06:57] pshivesh8 opened #161 "25. Reverse Nodes in k-Group"
Given a linked list, reverse the nodes of a linked list k at a time and return its modified list.
k is a positive integer and is less than or equal to the length of the linked list. If the number of nodes is not a multiple of k then left-out nodes, in the end, should remain as it is.
You may not alter the values in the list's nodes, only nodes themselves may be changed.

Example 1:
Input: head = [

[2021-10-02 06:57] piyushsharma220699 commented on #156
@sj9102001 Assigned in C++

[2021-10-02 06:57] pshivesh8 commented on #161
I want to solve this in C++, Please assign this issue to me as a part of hacktoberfest-2021

[2021-10-02 06:59] piyushsharma220699 commented on #160
Sorry @pshivesh8 , this issue is already assigned here :: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/156
Please create an issue for some other problem 👍🏻 For now, i'll be closing this issue to avoid redundancy.

[2021-10-02 06:59] #160 closed

[2021-10-02 06:59] pshivesh8 opened #163 "33. Search in Rotated Sorted Array"
There is an integer array nums sorted in ascending order (with distinct values).
Prior to being passed to your function, nums is possibly rotated at an unknown pivot index k (1 <= k < nums.length) such that the resulting array is [nums[k], nums[k+1], ..., nums[n-1], nums[0], nums[1], ..., nums[k-1]] (0-indexed). For example, [0,1,2,4,5,6,7] might be rotated at pivot index 3 and become [4,5,6,7,0,1

[2021-10-02 06:59] piyushsharma220699 commented on #161
@pshivesh8 Assigned in C++

[2021-10-02 07:00] pshivesh8 commented on #163
I want to solve this in C++, Please assign this issue to me as a part of hacktoberfest-2021

[2021-10-02 07:00] piyushsharma220699 commented on #163
@pshivesh8 Assigned in C++ :)

[2021-10-02 07:02] piyushsharma220699 commented on #158
Sorry, this issue is already assigned to someone else here :: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/93
I'm closing this 👍🏻

[2021-10-02 07:02] #158 closed

[2021-10-02 07:03] piyushsharma220699 commented on #143
@dhairyaostwal I've added the tag. You can work on this in Java.

[2021-10-02 07:03] piyushsharma220699 commented on #143
@purohitmansi This issue is already assigned to @khushij12 in C++. Sorry cant assign you this one :)

[2021-10-02 07:07] abhi26ak commented on #163
can you assign this to me in java

[2021-10-02 07:16] arihantthriwe opened #166 "Binary Search Tree Validation"
Given a binary tree root, return whether it's a binary search tree. A binary tree node is a binary search tree if :
------(C++)
1. All nodes on its left subtree are smaller than node.val
2. All nodes on its right subtree are bigger than node.val
3. All nodes hold the these properties.

Constraint:
n ≤ 100,000 where n is the number of nodes in root

[2021-10-02 07:22] purohitmansi commented on #143
Okayy

On Sat, 2 Oct 2021, 12:34 pm Piyush Sharma, ***@***.***>
wrote:

[2021-10-02 07:26] vikhyat-github commented on #93
@piyushsharma220699 I have made the necessary changes . You can review it

[2021-10-02 07:28] saigoud25 commented on #100
can I do this in java?

[2021-10-02 07:29] RAJASETHI opened #168 "72. Edit Distance"
pls assign me this problem in c++.

[2021-10-02 07:30] RAJASETHI opened #169 "295. Find Median from Data Stream"
pls assign me this problem in c++.

[2021-10-02 07:31] RAJASETHI opened #170 "89. Gray Code"
pls assign me this problem

[2021-10-02 07:31] ritik307 opened #171 "28. Implement strStr()"
### Implement strStr().
Return the index of the first occurrence of needle in a haystack, or -1 if the needle is not part of haystack.
**Clarification:**
What should we return when the needle is an empty string? This is a great question to ask during an interview.
For the purpose of this problem, we will return 0 when the needle is an empty string. This is consistent to C's strstr() and Java's ind

[2021-10-02 07:32] ritik307 commented on #171
@piyushsharma220699  I want to solve this in C++, Kindly assign this issue to me as a part of `hacktoberfest-2021`

[2021-10-02 07:33] Samridhi-98 opened #172 "239. Sliding Window Maximum"
**239. Sliding Window Maximum**

You are given an array of integers nums, there is a sliding window of size k which is moving from the very left of the array to the very right. You can only see the k numbers in the window. Each time the sliding window moves right by one position.

Return the max sliding window.
[code]

[2021-10-02 07:34] Samridhi-98 commented on #172
@piyushsharma220699 I want to solve this in C++, Kindly assign this issue to me as a part of hacktoberfest-2021

[2021-10-02 07:36] prateeksharma2000 opened #173 "1143. Longest Common Subsequence"
Problem Link - [https://leetcode.com/problems/longest-common-subsequence/](url)

Can I work on this problem in C++

[2021-10-02 07:37] Amitsharma45 commented on #173
please assign it to me

[2021-10-02 07:37] ritik307 opened #174 "51. N-Queens"
The n-queens puzzle is the problem of placing n queens on an n x n chessboard such that no two queens attack each other.

Given an integer n, return all distinct solutions to the n-queens puzzle. You may return the answer in any order.

Each solution contains a distinct board configuration of the n-queens' placement, where 'Q' and '.' both indicate a queen and an empty space, respectively.

[Refer

[2021-10-02 07:37] Samridhi-98 opened #175 "37. Sudoku Solver"
**37. Sudoku Solver**

Write a program to solve a Sudoku puzzle by filling the empty cells.
A sudoku solution must satisfy all of the following rules:
1. Each of the digits 1-9 must occur exactly once in each row.
2. Each of the digits 1-9 must occur exactly once in each column.
3. Each of the digits 1-9 must occur exactly once in each of the 9 3x3 sub-boxes of the grid.
The '.' character indicate

[2021-10-02 07:37] Samridhi-98 commented on #175
@piyushsharma220699 I want to solve this in C++, Kindly assign this issue to me as a part of hacktoberfest-2021

[2021-10-02 07:38] ritik307 commented on #174
@piyushsharma220699 I want to solve this in C++, Kindly assign this issue to me as a part of `hacktoberfest-2021`

[2021-10-02 07:38] prateeksharma2000 opened #176 "74. Search a 2D Matrix"
Problem Link - [https://leetcode.com/problems/search-a-2d-matrix/](url)

Can I work on this problem in C++

[2021-10-02 07:39] prateeksharma2000 opened #177 "46. Permutations"
Problem Link - [https://leetcode.com/problems/permutations/](url)

Can I work on this problem in C++

[2021-10-02 07:42] katariahk commented on #176
Assign this to me, I can do this in Java, Python as well as in C++ with explanation

[2021-10-02 07:42] prateeksharma2000 opened #179 "1392. Longest Happy Prefix"
Problem Link - [https://leetcode.com/problems/longest-happy-prefix/](url)

Can I work on this problem in C++

[2021-10-02 07:45] prateeksharma2000 opened #180 "5. Longest Palindromic Substring"
Problem Link - [https://leetcode.com/problems/longest-palindromic-substring/](url)

Can I work on this problem in C++

[2021-10-02 07:47] #173 closed

[2021-10-02 07:47] prateeksharma2000 commented on #173
Question already assigned

[2021-10-02 07:51] prateeksharma2000 opened #183 "42. Trapping Rain Water"
Problem Link - [https://leetcode.com/problems/trapping-rain-water/](url)

Can I work on this problem in C++

[2021-10-02 07:53] prateeksharma2000 opened #185 "188. Best Time to Buy and Sell Stock IV"
Problem Link - [https://leetcode.com/problems/best-time-to-buy-and-sell-stock-iv/](url)

Can I work on this problem in C++

[2021-10-02 07:54] VishwajeetT22 commented on #54
I've made a pull request @piyushsharma220699  please do check out .
And thank you so much for giving me this opportunity.

[2021-10-02 07:57] #180 closed

[2021-10-02 07:57] prateeksharma2000 commented on #180
Already assigned

[2021-10-02 08:01] sj9102001 commented on #156
Added PR #187 Resolving this issue

[2021-10-02 08:01] prateeksharma2000 opened #188 "84. Largest Rectangle in Histogram"
Problem Link - [https://leetcode.com/problems/largest-rectangle-in-histogram/](url)

Kindly assign me this problem in C++

[2021-10-02 08:03] prateeksharma2000 opened #191 "763. Partition Labels"
Problem Link - [https://leetcode.com/problems/partition-labels/](url)

Kindly assign me this issue in C++

[2021-10-02 08:13] sharmaayush19112000 commented on #183
please assign me in c++

[2021-10-02 09:07] himakhaitan commented on #81
Please assign me this in C++

[2021-10-02 09:10] vartikavr opened #198 "494. Target Sum"
Problem Link - https://leetcode.com/problems/target-sum/
Please assign this to me in C++.

[2021-10-02 09:12] himakhaitan opened #200 "14. Longest Common Prefix"
Please assign me this in C++
Problem URL : https://leetcode.com/problems/longest-common-prefix/

[2021-10-02 09:14] leninmeher commented on #166
Please assign me this problem.

[2021-10-02 09:14] vartikavr opened #201 "143. Reorder List"
Problem Link - https://leetcode.com/problems/reorder-list/
Kindly assign this to me in <b>C++</b>.

[2021-10-02 09:17] luv2001 opened #203 "1302. Deepest Leaves Sum"
Problem Link : https://leetcode.com/problems/deepest-leaves-sum/
Level : medium
Kindly assign me this in c++

[2021-10-02 10:09] khushij12 commented on #200
Could u assign me this in C.

[2021-10-02 10:14] viralkumar28 commented on #92
Assign this to me in JAVA

[2021-10-02 10:31] shraddhavp opened #207 "Linked List cycle"
would like to solve this problem
https://leetcode.com/problems/linked-list-cycle/

[2021-10-02 10:31] shraddhavp commented on #207
@piyushsharma220699  can you please assign this to me ?

[2021-10-02 10:45] Khushi-Shukla opened #209 "132. Palindrome Partitioning II"
I am willing to solve this [problem](https://leetcode.com/problems/palindrome-partitioning-ii/) of leetcode in C++. It has a hard label.
Kindly assign this issue to me. My leetcode account is [this](https://leetcode.com/khu_shi/)

[2021-10-02 10:45] khushij12 opened #210 "20. Valid Parentheses"
Could u assigned this for C.

[2021-10-02 10:48] #10 closed

[2021-10-02 10:48] GuptaTanisha commented on #36
@purohitmansi I have already done it in C++

[2021-10-02 10:52] Piyush228 commented on #12
hello @purohitmansi
if you want to do work on C++ then refer issue #13
and sir @piyushsharma220699 please assign issue #13 to @purohitmansi

[2021-10-02 10:54] khushij12 commented on #26
Could you assigned this to me for C.

[2021-10-02 11:11] lakhanjindam opened #214 "Starting point of loop in linked list cycle"
Assign this to me for python lang 👍

[2021-10-02 11:12] lakhanjindam opened #215 "Reverse k sub-list of linked list - leetcode"
Assign this to me for python 👍

[2021-10-02 11:14] lakhanjindam opened #216 "First and last position of an element in array"
Please assign this to me in python 👍

[2021-10-02 11:17] lakhanjindam opened #217 "Longest sub-array with sum zero"
Please assign this to me in python 👍

[2021-10-02 11:18] lakhanjindam opened #218 "Group anagrams"
Please assign this to me in python 👍

[2021-10-02 11:19] vishvarana opened #219 "1207. Unique number of occurrences"
https://leetcode.com/problems/unique-number-of-occurrences/description/
Please assign this to me
Language - C++

[2021-10-02 11:19] lakhanjindam opened #220 "Set matrix zero - leetcode"
Please assign this to me in python 👍

[2021-10-02 11:34] Arihant2001 commented on #95
Plz assign this to me in C++.

[2021-10-02 11:40] Arihant2001 commented on #13
Plz assign this to me in C++.

[2021-10-02 11:50] Arihant2001 commented on #220
Plz assign this to me in C++.

[2021-10-02 12:23] khushij12 commented on #131
Can u assign this to me for C.

[2021-10-02 12:33] Haldhardwivedi opened #222 "3sum"
I'm willing to solve this problem in c++
Link to the problem : [3SUM](https://leetcode.com/problems/3sum/)

[2021-10-02 13:19] khushij12 commented on #93
@piyushsharma220699  Can u assign this to me for C.

[2021-10-02 13:24] khushij12 commented on #84
@piyushsharma220699 Can you assign this problem to me for C.

[2021-10-02 13:24] saigoud25 commented on #222
can I solve in Java?

[2021-10-02 13:28] ApoorvaKaushal09 commented on #210
Hey I want to work on this issue for java. Please assign it to me.

[2021-10-02 14:04] piyushsharma220699 commented on #12
@Piyush228 Okay sure! @purohitmansi Do you want me to assign #13 to you?

[2021-10-02 14:08] purohitmansi commented on #12
Yes

On Sat, 2 Oct 2021, 7:34 pm Piyush Sharma, ***@***.***> wrote:

[2021-10-02 14:10] Karthik-59 commented on #2
Hey @piyushsharma220699 I wanna work on this spiral matrix in java, can u assign me ?

[2021-10-02 14:10] piyushsharma220699 commented on #22
@purohitmansi Sorry, @rachana-singh27 has already worked on it in C++ :) Please try some other problem

[2021-10-02 14:12] piyushsharma220699 commented on #26
@purohitmansi I'm Sorry, @swapnil604 has already worked on it in C++

[2021-10-02 14:12] piyushsharma220699 commented on #26
@khushij12 Assigned in C 👍🏻

[2021-10-02 14:13] piyushsharma220699 commented on #36
@anupamdey2001 Assigned in Java 👍🏻

[2021-10-02 14:14] piyushsharma220699 commented on #36
@purohitmansi I'm Sorry I can't assign this to you, @GuptaTanisha has already worked on this problem in C++

[2021-10-02 14:15] piyushsharma220699 commented on #46
@Rohit5152 which language? Please note that @rachana-singh27 has already worked on this problem in C++ 👍🏻

[2021-10-02 14:16] abhi-43 commented on #176
I can solve this problem in Java with proper explanation of the approach using comments. Assign this to me

[2021-10-02 14:16] piyushsharma220699 commented on #52
@MitadruDatta Assigned in Java :)

[2021-10-02 14:17] piyushsharma220699 commented on #52
@Rohit5152 bro I can't assign this to you in C++ and Java, others are already working on it.

[2021-10-02 14:18] abhi-43 commented on #207
I would like to solve this problem using Java with proper explanation if assigned.

[2021-10-02 14:19] piyushsharma220699 commented on #54
@purohitmansi Which language? I can't assign this to you in C++ and C as @madhavmishra26 and @VishwajeetT22 have already worked on it :)

[2021-10-02 14:19] piyushsharma220699 commented on #54
@VishwajeetT22 I'll do that by tomorrow bro :)

[2021-10-02 14:19] abhi-43 commented on #183
Can you assign me this problem I would like to solve this in Java using proper explanation of the approach

[2021-10-02 14:22] piyushsharma220699 commented on #73
@dhairyaostwal Assigned in Java :)

[2021-10-02 14:24] piyushsharma220699 commented on #84
@khushij12 Assigned in C 👍🏻

[2021-10-02 14:25] Manas0916 commented on #135
Hey Can you Please assign this problem to me .
I want to solve this  question in JAVA.
Thank You!

[2021-10-02 14:27] piyushsharma220699 commented on #92
@viralkumar28 Assigned in Java 👍🏻

[2021-10-02 14:29] piyushsharma220699 commented on #93
@khushij12 Assigned in C 👍🏻

[2021-10-02 14:29] Manas0916 commented on #133
Hey! Can you Assign this to me.
I want to Solve this question in JAVA.
Thank You!

[2021-10-02 14:31] piyushsharma220699 commented on #95
@Arihant2001 Sorry, @anushkarthik05 has already completed this in C++

[2021-10-02 14:32] piyushsharma220699 commented on #100
@saigoud25 Assigned in Java 👍🏻

[2021-10-02 14:32] Piyush228 commented on #12
sir @piyushsharma220699 please merge my above pull request

[2021-10-02 14:33] piyushsharma220699 commented on #117
@dhairyaostwal Assigned in Java

[2021-10-02 14:34] Tejas-Gosavi commented on #117
@piyushsharma220699 can you plz assigned this to me for go

[2021-10-02 14:36] piyushsharma220699 commented on #126
@sneha-baser Assigned Diameter of Binary Tree in C++

[2021-10-02 14:37] piyushsharma220699 commented on #131
@sahilahmed24 Assigned in Python
@khushij12 Assigned in C

[2021-10-02 14:38] piyushsharma220699 commented on #131
@purohitmansi Which language? Please note that this issue is already assigned in C++, C and Java

[2021-10-02 14:38] piyushsharma220699 commented on #133
@purohitmansi Sorry, @Samarth-Gupta-2909 has already worked on it in C++

[2021-10-02 14:39] piyushsharma220699 commented on #133
@Manas0916 Assigned in Java 👍🏻

[2021-10-02 14:39] piyushsharma220699 commented on #134
@sahilahmed24 Assigned in Python 👍🏻

[2021-10-02 14:40] piyushsharma220699 commented on #135
@purohitmansi Sorry, @Samarth-Gupta-2909 has already worked on this in C++

[2021-10-02 14:40] piyushsharma220699 commented on #135
@Manas0916 Assigned in Java

[2021-10-02 14:41] piyushsharma220699 commented on #139
@dhairyaostwal Assigned in Java

[2021-10-02 14:41] purohitmansi commented on #131
I was about to solve this in C++.
NO problem

On Sat, 2 Oct 2021, 8:08 pm Piyush Sharma, ***@***.***> wrote:

[2021-10-02 14:42] piyushsharma220699 commented on #163
@abhi26ak Assigned in Java

[2021-10-02 14:43] piyushsharma220699 commented on #171
@ritik307 Assigned in C++

[2021-10-02 14:44] piyushsharma220699 commented on #170
@RAJASETHI Which Language?

[2021-10-02 14:44] piyushsharma220699 commented on #169
@RAJASETHI Which Language?

[2021-10-02 14:44] piyushsharma220699 commented on #168
@RAJASETHI Which Language?

[2021-10-02 14:45] piyushsharma220699 commented on #166
@leninmeher @arihantthriwe Which Language guys?

[2021-10-02 14:47] piyushsharma220699 commented on #117
@Tejas-Gosavi Assigned in Go 🥇

[2021-10-02 14:48] leninmeher commented on #166
C++

[2021-10-02 14:48] katariahk commented on #169
Assign this, I can do this in Java/C++/Python with explanation.

[2021-10-02 14:48] katariahk commented on #168
Assign this, I can do this in Java/C++/Python with explanation.

[2021-10-02 14:49] piyushsharma220699 commented on #12
@purohitmansi Okay!
@Piyush228 I'll do that overnight bhai! 👍🏻

[2021-10-02 14:49] rupayanxn commented on #170
Please assign me his problem in Java

[2021-10-02 14:50] katariahk commented on #210
Assign this, I can do this in Java/C++/Python with explanation.

[2021-10-02 14:50] piyushsharma220699 commented on #13
@Piyush228 was assigned this issue in C++ already. As he asked me to assign this issue to @purohitmansi here :: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/12 I'm assigning this issue to her in C++

@Arihant2001 Sorry brother, can't assign this to you in C++

[2021-10-02 14:50] katariahk commented on #207
Assign this, I can do this in Java/C++/Python with explanation.

[2021-10-02 14:50] katariahk commented on #198
Assign this, I can do this in Java/C++/Python with explanation.

[2021-10-02 14:51] anupamdey2001 commented on #36
I have done it in Java please Merge it

[2021-10-02 14:51] piyushsharma220699 commented on #2
@Karthik-59 Assigned in Java :)

[2021-10-02 14:52] piyushsharma220699 commented on #170
@rupayanxn Assigned in Java 👍🏻

[2021-10-02 14:52] piyushsharma220699 commented on #169
@katariahk Assigning you in Python :)

[2021-10-02 14:53] piyushsharma220699 commented on #168
@katariahk Assigning you in Java 👍🏻

[2021-10-02 14:53] piyushsharma220699 commented on #166
@leninmeher Assigned in C++

[2021-10-02 14:54] piyushsharma220699 commented on #222
@saigoud25 @Haldhardwivedi Issue already present here :: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/36
Please get this issue assigned to you there! For now, I'm closing this 👍🏻

[2021-10-02 14:54] #222 closed

[2021-10-02 14:56] piyushsharma220699 commented on #220
@lakhanjindam Assigned in Python
@Arihant2001 Assigned in C++

[2021-10-02 14:57] piyushsharma220699 commented on #219
@vishvarana Assigned in C++

[2021-10-02 14:57] piyushsharma220699 commented on #218
@lakhanjindam Assigned in Python

[2021-10-02 14:59] Karthik-59 commented on #2
Done ! Pr no. 226

[2021-10-02 14:59] piyushsharma220699 commented on #217
Is this problem present on leetcode? Please provide the link in description :)

[2021-10-02 15:00] piyushsharma220699 commented on #216
@lakhanjindam Assigned in Python

[2021-10-02 15:02] piyushsharma220699 commented on #215
@lakhanjindam Issue already created here :: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/161
Please get this assigned to you here. I'm closing this for now :)

[2021-10-02 15:02] #215 closed

[2021-10-02 15:02] abhi-43 commented on #214
Please assign this to me in Java or C++.

[2021-10-02 15:03] piyushsharma220699 commented on #174
@ritik307 Assigned in C++ :)

[2021-10-02 15:04] piyushsharma220699 commented on #175
@Samridhi-98 Assigned in C++ 👍🏻

[2021-10-02 15:04] abhi-43 commented on #185
I can solve this in Java. Please assign this to me

[2021-10-02 15:05] piyushsharma220699 commented on #176
Issue already present here :: https://github.com/piyushsharma220699/Hacktoberfest-2021/issues/52
Sorry @katariahk @prateeksharma2000 @abhi-43 guys, can't assign it here! Please go for some other problem :)

[2021-10-02 15:05] #176 closed

[2021-10-02 15:05] piyushsharma220699 commented on #177
@prateeksharma2000 Assigned in C++

[2021-10-02 15:06] piyushsharma220699 commented on #179
@prateeksharma2000 Assigned in C++

[2021-10-02 15:06] piyushsharma220699 commented on #183
@prateeksharma2000 Assigned in C++
@sharmaayush19112000 Due to first come first serve, it is assigned to @prateeksharma2000 . Sorry!
@abhi-43 Assigned in Java

[2021-10-02 15:07] piyushsharma220699 commented on #185
@prateeksharma2000 Assigned in C++

[2021-10-02 15:07] piyushsharma220699 commented on #188
@prateeksharma2000 Assigned in C++

[2021-10-02 15:08] piyushsharma220699 commented on #172
@Samridhi-98 Assigned in C++

[2021-10-02 15:08] piyushsharma220699 commented on #185
@abhi-43 Assigned in Java

[2021-10-02 15:09] Haldhardwivedi opened #228 "Fibonacci Number"
Plz assign me [This](https://leetcode.com/problems/fibonacci-number/) problem in c++

[2021-10-02 15:09] piyushsharma220699 commented on #191
@prateeksharma2000 Assigned in C++

[2021-10-02 15:09] piyushsharma220699 commented on #198
@vartikavr Assigned in C++
@katariahk Assigned in Python 👍🏻

[2021-10-02 15:10] piyushsharma220699 commented on #200
@himakhaitan Assigned in C++
@khushij12 Assigned in C 👍🏻

[2021-10-02 15:10] piyushsharma220699 commented on #201
@vartikavr Assigned in C++ 💯

[2021-10-02 15:11] piyushsharma220699 commented on #203
@luv2001 Assigned in C++ 👍🏻

[2021-10-02 15:11] lakhanjindam commented on #217
Sorry, my bad this one is not in leetcode :(
will update the title

[2021-10-02 15:12] piyushsharma220699 commented on #207
@shraddhavp Which Language?
@abhi-43 Assigned in Java
@katariahk Assigned in Python :)

[2021-10-02 15:13] piyushsharma220699 commented on #209
@Khushi-Shukla Assigned in C++ 💯

[2021-10-02 15:14] VishwajeetT22 commented on #54
Thanks @piyushsharma220699 😁👍...It will be my first PR

[2021-10-02 15:14] RAJASETHI commented on #170
Assign in c++ pls.

[2021-10-02 15:14] piyushsharma220699 commented on #210
@khushij12 Assigned in C
@ApoorvaKaushal09 Assigned in Java
@katariahk Assigned in Python
🥇

[2021-10-02 15:15] piyushsharma220699 commented on #217
Create a new issue :) I'm closing this

[2021-10-02 15:15] #217 closed

[2021-10-02 15:16] RAJASETHI commented on #169
Assign in C++ pls.

[2021-10-02 15:16] piyushsharma220699 commented on #228
@Haldhardwivedi Assigned in C++

[2021-10-02 15:16] viralkumar28 commented on #188
@piyushsharma220699  Assign me in Java

[2021-10-02 15:16] RAJASETHI commented on #168
Assign in C++ pls.

[2021-10-02 15:16] piyushsharma220699 commented on #170
@RAJASETHI Assigned in C++

[2021-10-02 15:17] piyushsharma220699 commented on #169
@RAJASETHI Assigned in C++

[2021-10-02 15:17] viralkumar28 commented on #191
@piyushsharma220699  Assign me in Java

[2021-10-02 15:17] piyushsharma220699 commented on #188
@viralkumar28 Assigned in Java 👍🏻

[2021-10-02 15:18] viralkumar28 commented on #203
@piyushsharma220699  Assign me in Java

[2021-10-02 15:18] piyushsharma220699 commented on #191
@viralkumar28 Assigned in Java 👍🏻

[2021-10-02 15:18] piyushsharma220699 commented on #203
@viralkumar28 Assigned in Java

[2021-10-02 15:19] piyushsharma220699 commented on #168
@RAJASETHI Assigned in C++ 👍🏻

[2021-10-02 15:20] anupamdey2001 commented on #228
@piyushsharma220699 Plz assign me This problem in Java

[2021-10-02 15:21] piyushsharma220699 commented on #228
@anupamdey2001 Assigned in Java

[2021-10-02 15:25] piyushsharma220699 commented on #65
@snehashukkla Assigned in Python
@purohitmansi Assigned in C++ 💯

[2021-10-02 15:25] piyushsharma220699 commented on #65
@Rohit5152 I'll do that by night :)

[2021-10-02 15:27] piyushsharma220699 commented on #214
@lakhanjindam @abhi-43 Sorry guys, I can't understand which leetcode problem is this (please write proper name and leetcode problem number, I'll assign the issue for sure. Right now, I need to close this 👍🏻)

[2021-10-02 15:27] #214 closed

[2021-10-02 15:30] Anuradha0501 commented on #218
Please assign this to me in Java

[2021-10-02 15:30] Anuradha0501 commented on #177
I will like to add java solution for this problem

[2021-10-02 15:31] Anuradha0501 commented on #156
I want to add java solution for this problem

[2021-10-02 15:33] anupamdey2001 commented on #228
Thanks sir, I have done a pull request on this Problem in Java.

[2021-10-02 15:38] Anuradha0501 commented on #174
@piyushsharma220699 I want to solve this in Java, Kindly assign this issue to me under hacktoberfest

[2021-10-02 15:38] pradyyadav opened #236 "41. First Missing Positive"
Assign me this problem in C++.

[2021-10-02 15:40] nishantkumar1308 commented on #216
Please assign this to me in C++

[2021-10-02 15:41] nishantkumar1308 commented on #210
Assign this to me in C++ ,I can do this  with proper comments.

[2021-10-02 15:46] C0mRD commented on #228
@piyushsharma220699 Please assign me this in Python

[2021-10-02 15:47] vartikavr commented on #218
Please assign this to me in C++.

[2021-10-02 15:49] vartikavr commented on #218
@piyushsharma220699 Please assign this to me in C++.

[2021-10-02 16:06] SahityaRoy opened #241 "Go language basic"
Hey i want to add some Go language basic programming if you want more details after that i can upload 1st i want to add some basic stuffs in go language like data type, array, loop, conditional statement, concatenation, strings etc.

Please assign me the issue under hacktoberfest 2021

[2021-10-02 16:17] Abhishek07-0302 commented on #228
I would like to do this code in C++. Kindly assign me.

[2021-10-02 16:20] Arihant2001 commented on #207
plz assign me this problem in c++

[2021-10-02 16:25] shraddhavp commented on #207
@piyushsharma220699  in C++

[2021-10-02 16:33] arihantthriwe commented on #166
C

[2021-10-02 16:57] katariahk commented on #228
Assign me this in Javascript or C++ or Python or Java

[2021-10-02 16:59] katariahk commented on #219
Assign this in Python or JavaScript

[2021-10-02 17:13] anupamdey2001 commented on #172
@piyushsharma220699 I want to solve this in Java please assign me this issue

[2021-10-02 17:39] vineetsharma36 opened #254 "2022 : Convert 1D Array Into 2D Array"
Please assign [this](https://leetcode.com/problems/convert-1d-array-into-2d-array/) problem to me in C++

[2021-10-02 17:42] vineetsharma36 opened #255 "2023. Number of Pairs of Strings With Concatenation Equal to Target"
Please assign [this](https://leetcode.com/problems/number-of-pairs-of-strings-with-concatenation-equal-to-target/) problem to me in C++

[2021-10-02 17:43] vineetsharma36 opened #256 "2024. Maximize the Confusion of an Exam"
Please assign [this](https://leetcode.com/problems/maximize-the-confusion-of-an-exam/) problem to me in C++

[2021-10-02 17:45] vineetsharma36 opened #257 "2016. Maximum Difference Between Increasing Elements"
Please assign [this](https://leetcode.com/problems/maximum-difference-between-increasing-elements/) problem to me in C++

[2021-10-02 17:46] zhcet19 opened #259 "PR doesnt count to hacktoberfest for this repo as it has been marked as Bad repo"

[2021-10-02 17:49] GuptaTanisha opened #260 "460_LFU_Cache_C++"
https://leetcode.com/problems/lfu-cache/
Please assign this to me in C++

[2021-10-02 17:50] piyushsharma220699 opened #261 "PR doesn't count as a valid PR for Hacktoberfest, shows Excluded/BAD Repository"

[2021-10-02 17:54] dev-bot1 commented on #228
I would like to do this code in C++. Kindly assign me.

[2021-10-02 18:07] dev-bot1 commented on #198
Assign this, I can do this in C++/Python

[2021-10-02 18:17] piyushsharma220699 commented on #259
I've pinned an issue, please check that!

[2021-10-02 18:17] #259 closed

[2021-10-02 18:23] sahelisaha2k commented on #241
I want to add basic programming concepts in C++. Please assign me this issue.

[2021-10-02 18:32] sahelisaha2k commented on #216
Please assign this to me in C++.

[2021-10-02 18:42] thepiyushway commented on #261
I'll try my best to get this repository included for Hacktoberfest 2021 as I believe we were not violating any guidelines, the codes are not basic and I wasn't accepting every PR which I got, actually I closed most of them as they didn't followed the NOTE FOR CONTRIBUTORS.md file.

Till then I request you to participate in some other repository to complete hacktoberfest challenge. (DON'T LOSE HOPE

[2021-10-02 18:49] nm2708 commented on #261
Really sad to see this.Litetally don't see a reason for this repository to be excluded. The team should have mentioned why it got excluded😪😪

[2021-10-02 18:53] passionlord commented on #261
Really this is begineer friendly , i dont understand why would they exclude this .

[2021-10-02 19:17] thepiyushway commented on #261
@passionlord @nm2708  I don't know why this happened, people telling me that this repo might be reported by others claiming it as spam, which I'm not sure why someone will do so.

However, I'll still check out all the PRs and merge the ones that follow the guidelines. And most probably I'll create a sheet of Development Repos where you guys can contribute to now. But again, the intention was never

[2021-10-02 19:31] 0xn1k commented on #261
What can we do now?

[2021-10-02 19:47] thepiyushway commented on #261
@nishantkumar1308 Find some other repo to contribute in now. This repo is no longer included in Hacktoberfest 2021. Sorry bro! :(

[2021-10-02 20:04] kunnu48 commented on #261
Tbh such an amazing repo, it should be included in Hacktoberfest for sure!

[2021-10-02 20:06] 0xn1k commented on #261
@piyushsharma220699  what can we do  to make repositry  include in hacktober fest?

[2021-10-02 20:13] thepiyushway commented on #261
@nishantkumar1308 I had a conversation with a mentor of Hacktoberfest 2021 Discord channel and this is how it went ::

![Inkedc5_LI](https://user-images.githubusercontent.com/45245975/135730618-e7d1208e-f916-4180-88d9-5d97c6966b21.jpg)

I think this can't be undone, you need to look for other repositories to contribute :(

[2021-10-02 20:27] thepiyushway commented on #260
I'll assign you @GuptaTanisha for C++, but PRs on this repo will not be accepted as a part of Hacktoberfest now. Sorry about that :( Check the pinned issue to know more.

[2021-10-02 20:28] thepiyushway commented on #257
I'll assign you @vineetsharma36 for C++, but PRs on this repo will not be accepted as a part of Hacktoberfest now. Sorry about that :(
Check the pinned issue to know more

[2021-10-02 20:32] thepiyushway commented on #236
@pradyyadav I'll assign this to you in C++, but now, this repository is excluded from hacktoberfest 2021 and no PRs made here will be counted as a contribution in the fest. Check the pinned issue to know more :(

[2021-10-02 20:34] thepiyushway commented on #256
I'll assign you @vineetsharma36 for C++, but PRs on this repo will not be accepted as a part of Hacktoberfest now. Sorry about that :(
Check the pinned issue to know more

[2021-10-02 20:34] thepiyushway commented on #255
I'll assign you @vineetsharma36 for C++, but PRs on this repo will not be accepted as a part of Hacktoberfest now. Sorry about that :(
Check the pinned issue to know more

[2021-10-02 20:35] thepiyushway commented on #254
I'll assign you @vineetsharma36 for C++, but PRs on this repo will not be accepted as a part of Hacktoberfest now. Sorry about that :(
Check the pinned issue to know more

[2021-10-02 20:35] thepiyushway commented on #241
I'll assign you @SahityaRoy and @sahelisaha2k , but PRs on this repo will not be accepted as a part of Hacktoberfest now. Sorry about that :(
Check the pinned issue to know more

[2021-10-02 20:42] thepiyushway commented on #219
I'll assign you @katariahk for Python, but PRs on this repo will not be accepted as a part of Hacktoberfest now. Sorry about that :(
Check the pinned issue to know more

[2021-10-02 20:42] thepiyushway commented on #228
@katariahk @dev-bot1 @C0mRD I'll assign you guys, but PRs on this repo will not be accepted as a part of Hacktoberfest now. Sorry about that :(
Check the pinned issue to know more

[2021-10-02 20:55] bolajixi opened #268 "19. Remove Nth Node From End of List"
Adding code with approach and problem in Python.

Problem link : https://leetcode.com/problems/remove-nth-node-from-end-of-list/

Please assign me.

[2021-10-03 03:14] #156 closed

[2021-10-03 03:57] Anuradha0501 commented on #268
I would like to add a java solution for this problem please assign me under hacktoberfest.

[2021-10-03 04:18] leninmeher commented on #166
Should i create a new branch...??

[2021-10-03 04:27] divyansh1511 commented on #268
Can u please assign this issue to me ....
I can code in cpp...

[2021-10-03 04:58] AnshMishra2001 commented on #141
Pls check PR #150

[2021-10-03 09:43] Kavs-123 commented on #268
Hey @bolajixi
I would like to work on this issue, requesting you to please assign this issue to me :)
Thank you

[2021-10-03 10:04] bolajixi commented on #268
Hello @Kavs-123!

I'm not the maintainer of this repository 😄

[2021-10-03 10:34] hr1shita commented on #207
@piyushsharma220699 Could you please assign this to me in cpp? I'd like to make my contribution with my personal understanding of it.

[2021-10-03 11:34] shraddhavp commented on #216
@piyushsharma220699  please assign this to me in Java

[2021-10-03 12:10] GuptaTanisha commented on #260
@piyushsharma220699 No problem :)

[2021-10-03 13:33] thepiyushway commented on #268
@bolajixi @Anuradha0501 @divyansh1511 I will assign the issue to you guys in Python, Java and C++, but this repository is now excluded from Hacktoberfest 2021, please read the pinned issue to know more :')

[2021-10-03 14:10] thepiyushway commented on #218
@Anuradha0501 @vartikavr I'll assign this to you in Java and C++, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more

[2021-10-03 14:11] thepiyushway commented on #210
@nishantkumar1308 I'll assign this to you in C++, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more :')

[2021-10-03 14:16] thepiyushway commented on #177
@Anuradha0501 I'll assign this to you in Java, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more :')

[2021-10-03 14:17] thepiyushway commented on #174
@Anuradha0501 I'll assign this to you in Java, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more

[2021-10-03 14:18] thepiyushway commented on #172
@anupamdey2001 I'll assign this to you in Java, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more :')

[2021-10-03 14:21] thepiyushway commented on #166
@arihantthriwe I'll assign this to you in C, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more :')

[2021-10-03 14:21] thepiyushway commented on #166
@arihantthriwe I'll assign this to you in C, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more :')

[2021-10-03 14:23] thepiyushway commented on #216
@nishantkumar1308 @shraddhavp I'll assign this to you in Java and C++, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more :')

[2021-10-03 15:00] thepiyushway commented on #207
@shraddhavp I'll assign this to you in C++, but now this repo has been excluded from Hacktoberfest 2021, please read the pinned issue of this repo to know more!

[2021-10-03 16:28] Anuradha0501 commented on #174
ok

[2021-10-03 16:57] 0xn1k commented on #210
I am very sad to hear that ..

[2021-10-03 18:44] Chadha93 commented on #12
@piyushsharma220699 can I open PRs for JavaScript Language? If yes you can assign me a couple of issues.

[2021-10-04 07:18] tjanhvi opened #285 "Add more basic python programs in python folder (Hacktoberfest)"
please assign me this issue.

[2021-10-04 07:23] tjanhvi opened #286 "Make a pygame folder and add some games using python program (Hacktoberfest)"
Please assign me this issue

The games are :---
1) Guess the number
2) Coffee Machine
3) Caesar Cipher
4) Blackjack

[2021-10-04 11:56] vrun1208 commented on #200
Hey, Please could you assign me this in C++.

[2021-10-04 13:40] satyam-mahajan commented on #236
Hii , I am able to fix the issue in a optimal way in C++. Please assign to me.
Thanking you...!!!

[2021-10-04 13:40] satyam-mahajan commented on #188
Hii , I am able to fix the issue in a optimal way in C++. Please assign to me.
Thanking you...!!!

[2021-10-04 13:41] satyam-mahajan commented on #207
Hii , I am able to fix the issue in a optimal way in C++. Please assign to me.
Thanking you...!!!

[2021-10-04 13:42] satyam-mahajan commented on #268
I would like to work on this issue, requesting you to please assign this issue to me :)
Thank you

[2021-10-05 08:01] #285 closed, assigned to nobody

[2021-10-05 17:33] Akhilesh0947 commented on #257
please assign me any problem

[2021-10-05 18:49] snehashukkla commented on #207
@piyushsharma220699 please assign this to me in C++

[2021-10-05 18:50] snehashukkla commented on #172
@piyushsharma220699 please assign this to me in C++

[2021-10-06 10:52] sohilkhanduja commented on #228
Please assign me this issue @piyushsharma220699

[2021-10-07 07:32] shankarjp opened #297 "26. Remove Duplicates from Sorted Array"
Leetcode Link: https://leetcode.com/problems/remove-duplicates-from-sorted-array/
I can do this in C++, can you assign this to me?

[2021-10-07 11:35] PreetamRajkhowa commented on #22
Hi..Can i do this in javascript?

[2021-10-08 17:33] anjalikumawat2002 commented on #36
please assign me in python @piyushsharma220699

[2021-10-14 08:04] Am4teur commented on #94
Can you assign this to me in Python? Appreciated!

[2021-10-14 08:16] Am4teur opened #299 "67. Add Binary"
Problem Link - https://leetcode.com/problems/add-binary/
Kindly assign this to me in Python.

[2021-10-14 08:17] Am4teur opened #300 "258. Add Digits"
Problem Link - https://leetcode.com/problems/add-digits/
Kindly assign this to me in Python.

[2021-10-14 08:17] Am4teur opened #301 "415. Add Strings"
Problem Link - https://leetcode.com/problems/add-strings/
Kindly assign this to me in Python.

[2021-10-14 08:23] Am4teur opened #302 "199. Binary Tree Right Side View"
Problem Link - https://leetcode.com/problems/binary-tree-right-side-view/
Kindly assign this to me in Python.

[2021-10-15 03:40] Karthiks08 opened #303 "7-Reverse_Integer.py another approach"
I want to work on this issue @piyushsharma220699 @Piyush228 @4doctorstrange

I am currently preparing for my intern preparations and it would help me a lot ,please do the needful

[2021-10-15 03:42] Karthiks08 commented on #303
please assign me this problem

[2021-10-15 03:45] Karthiks08 opened #304 "268-missing_number.py"
I want to work on this issue  @SumukhBhardwaj @Piyush228 @piyushsharma220699

I am currently preparing for my intern preparations and it would help me a lot , please do the needful and assign me this problem

[2021-10-15 03:46] Karthiks08 opened #305 "3-Peak_element.py new method"
I want to work on this issue  @SumukhBhardwaj @Piyush228 @piyushsharma220699

I am currently preparing for my intern preparations and it would help me a lot ,please do the needful and assign me this problem

[2021-10-15 03:46] Karthiks08 opened #306 "7-Reverse_Integer.py another approach"
I want to work on this issue  @SumukhBhardwaj @4doctorstrange @piyushsharma220699 @Piyush228

I am currently preparing for my intern preparations and it would help me a lot , please do the needful and assign me this problem

[2021-10-15 03:48] Karthiks08 opened #307 "15 : 3Sum new approach"
I want to work on this issue  @SumukhBhardwaj @4doctorstrange @Piyush228 @piyushsharma220699

I am currently preparing for my intern preparations and it would help me a lot ,please do the needful and assign me this problem

[2021-10-15 03:49] Karthiks08 opened #308 "12 : Integer to Roman new approach"
I want to work on this issue  @SumukhBhardwaj @4doctorstrange @Piyush228 @piyushsharma220699

I am currently preparing for my intern preparations and it would help me a lot , please do the needful and assign me this problem

[2021-10-15 03:51] Karthiks08 opened #309 "21 : Merge two sorted lists new approach"
I want to work on this issue  @SumukhBhardwaj @4doctorstrange @piyushsharma220699

I am currently preparing for my intern preparations and it would help me a lot ,please do the needful and assign me this problem

[2021-10-15 03:51] Karthiks08 opened #310 "48 : Rotate Image new method"
I want to work on this issue  @SumukhBhardwaj @4doctorstrange @piyushsharma220699

I am currently preparing for my intern preparations and it would help me a lot ,please do the needful and assign me this problem

[2021-10-15 03:52] Karthiks08 opened #311 "7 : Reverse Integer second method"
I want to work on this issue  @SumukhBhardwaj @4doctorstrange @Piyush228 @piyushsharma220699

I am currently preparing for my intern preparations and it would help me a lot ,please do the needful and assign me this problem

[2021-10-15 03:52] Karthiks08 opened #312 "9 : Palindrome Number new method"
I want to work on this issue  @SumukhBhardwaj @4doctorstrange @Piyush228 @piyushsharma220699

I am currently preparing for my intern preparations and it would help me a lot ,please do the needful and assign me this problem

[2021-10-17 09:23] AnshMishra2001 commented on #141
@piyushsharma220699 pls check PR #150

[2021-10-21 11:12] soumyo2002 commented on #228
please assign this problem to me

[2021-10-21 11:13] soumyo2002 commented on #12
please assign this task to me

[2021-10-21 11:13] soumyo2002 commented on #81
please assign this task to me

[2022-10-26 03:01] ghost commented on #13
hey @Piyush228   can I contribute in this issue.